__pycache__
data/
*.gz
save_model
*.pth
*.pth.tar
logs/
runs/
out/
wandb/
plots/
metrics/
scripts/
# .ipynb_checkpoints
# assets
# runs
# planet/rollout_data
# phyre_results
# results